<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}">
<head>
</head>
<body>

<div class="uk-section">
    <a th:href="@{/}" class="uk-logo uk-navbar-item uk-margin-medium"><i class="fa-solid fa-truck-fast fa-4x"></i></a>
    <div class="uk-container uk-container-small">
        <h1 class="uk-text-center uk-text-break ">Zamówienie już do Ciebie jedzie!</h1>
        <a class="uk-button uk-position-center uk-button-secondary uk-margin-large uk-text-center uk-button-small" th:href="@{/menu}">Powrót do menu</a>
    </div>
</div>

</body>
</html>